
.features-section{
  background: $gray-100;
  padding-bottom: 35px;

  &__footer{
    @extend .text-center;
    padding-top: 55px;

    .btn-link{
      text-decoration: underline;

      &:hover{
        text-decoration: none;
      }
    }
  }
}

.feature {
  @extend .text-center;
  @extend .rounded;
  background: #FFF;
  box-shadow: 0 4px 0 #e5e6e6;
  padding: 35px 15px;
  height: 100%;

  &__icon {
    margin-bottom: 25px;
  }

  &__title {
    @extend .h5;
    font-weight: $font-weight-black;
    color: #7f8c8c;

  }

  &__text {
    line-height: (20.8/14);
    font-size: rem(14px);
    color: $gray-600;
  }
}