.hero-section {
  background-image: url(../img/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  min-height: 650px;
  padding-top: 25%;
  padding-bottom: 100px;

  @include media-breakpoint-down(sm){
    background-position: left top;
  }

  @include media-breakpoint-down(lg){
    padding-top: 255px;
    padding-bottom: 80px;
  }

  @include media-breakpoint-down(sm){
    padding-top: 190px;
    padding-bottom: 50px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1{
      font-weight: 800;
    }

    p {
      background: rgba(#000, .5);
      line-height: (28/18);

      @include media-breakpoint-up(xl){
        font-size: rem(18px);
      }

      @include media-breakpoint-down(sm){
        font-size: rem(14px);
      }
    }

    &__actions{
      @extend .w-100;
      @extend .text-center;
    }
  }

  &__image {
    position: relative;

    img {
      position: relative;
      z-index: 1;
      width: 100%;
    }

    &:after {
      content: '';
      position: absolute;
      width: 424px;
      height: 270px;
      background-image: url(../img/hero_ag-star.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      right: -65px;
      top: -155px;

      @include media-breakpoint-down(md){
        right: 0;
      }

      @include media-breakpoint-down(sm){
        transform: scale(.8);
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 100%;
      }
    }
  }
}