.pricing-section {
  padding: 60px 0;

  header {
    .h4 {
      color: $gray-500;
    }
  }
}

.pricing-item {
  @extend .text-center;
  @extend .text-white;
  @extend .h-100;
  @extend .d-flex;
  height: 100%;
  max-width: 265px;
  margin: 0 auto;
  flex-direction: column;
  padding-bottom: 27px;
  box-shadow: inset 0 -4px 0 rgba(#FFF, .5);

  &__type {
    @extend .h4;
    @extend .font-weight-light;
    @extend .mb-0;
    line-height: rem(42px);
    flex-shrink: 0;

    @include media-breakpoint-down(xl) {
      font-size: rem(14px);
    }
  }

  &__inner {
    background: rgba(#000, .08);
    padding: 22px 22px;
    flex-shrink: 0;
  }

  &__price {
    font-size: rem(58px);
    line-height: 1.1;
    @extend .text-uppercase;
    @extend .font-weight-bold;

    &:before {
      font-size: rem(18px);
      margin-right: 20px;
    }

    &.euro:before {
      content: '\20AC';
    }
  }

  &__description {
    @extend .font-weight-bold;
    line-height: rem(20px);
  }

  &__features {
    @extend .h4;
    margin-bottom: 26px;
    flex: 1 0 auto;

    > li {
      border-bottom: 1px solid rgba(#000000, .08);
      line-height: rem(48px);
      padding: 0 22px;

      @include media-breakpoint-down(lg) {
        font-size: rem(14px);
      }
    }
  }

  &__actions {
    .btn {
      padding: 0;
      max-width: 112px;
      border-radius: 0;
      line-height: rem(50px);
      @extend .text-center;
      @extend .w-100;
      @extend .font-weight-normal;
      background-color: #FFF;

      &:hover,
      &:active,
      &:focus {
        opacity: .9;
      }

      .bg-warning & {
        @extend .text-warning;
      }

      .bg-primary & {
        @extend .text-primary;
      }
    }
  }

}