.testimonials-section{
    padding: 60px 0;
    background: $gray-100;

    &__header{
        padding-top: 24px;

        h2{
            font-size: rem(30px);
            line-height: 1.4;
            @extend .font-weight-sembold;
            margin-bottom: 20px;
        }
        .icon{
            width: 64px;
        }
    }
}

.home-testimonials{
    @extend .rounded;
    background: #FFF;
    padding: 32px 12px 65px;

    &__item{

      @include media-breakpoint-down(xs){
        flex-direction: column;
        align-items: center;
      }

        &__avatar{
            max-width: 100px;
        }

        &__text{
            @extend .font-weight-bold;
            color: #7a7a7a;
            font-style: italic;
            padding: 4px 0;

          @include media-breakpoint-down(xs){
            text-align: center;
          }

          @include media-breakpoint-up(lg){
            font-size: rem(18px);
            line-height: 2;
          }

        }
        
        &__author{
            font-style: italic;
            @extend .font-weight-bold;
            color: #7f8c8c;
            font-size: 12px;
            margin-top: 15px;
            @extend .text-uppercase;
        }
    }

      .carousel-indicators li{
        border-radius: 50%;
        width: 12px;
        height: 12px;
        background: rgba($yellow, .16);

        &.active{
        @extend .bg-warning;
        }

        + li{
        margin-left: 15px;
        }
    }
}