.usp-slider {
  background: #202020;
  padding: 100px 0;
  position: relative;

  .carousel-inner__container{
    max-width: 1300px;
    padding: 0 15px;
    margin: 0 auto;
  }

  @include media-breakpoint-up(lg){
    .carousel-item__content{
      line-height: 2;
    }
  }

  .carousel-indicators li{
    border-radius: 50%;
    width: 18px;
    height: 18px;
    background: rgba(#FFF, .16);

    &.active{
      @extend .bg-primary;
    }

    & + li{
      margin-left: 30px;
    }
  }
}


