.footer {
  padding: 25px 0 10px;
  font-size: rem(14px);
  flex-shrink: 0;

  .h4 {
    font-size: rem(21px);
  }

  .btn-link {
    @extend .text-white;
  }

  &__contacts {
    @extend .list-unstyled;
  }

  &__social {
    @extend .list-unstyled;
    @extend .d-flex;

    @include media-breakpoint-up(sm) {
      justify-content: flex-end;
    }

    li + li {
      margin-left: 10px;
    }

    a {
      display: inline-block;
      background: #FFF;
      padding: 10px;
      line-height: 0;
      @extend .rounded-circle;
      @extend .text-center;

      svg {
        fill: $primary;
        width: 18px;
        height: 18px;
      }

      &:hover,
      &:active,
      &:focus {
        opacity: .8;
      }
    }
  }

  &__languages {
    @extend .list-unstyled;
    @extend .text-center;
    padding-top: 20px;

    @include media-breakpoint-up(sm) {
      padding-top: 95px;
    }

    li {
      @extend .d-inline-block;

      > a {
        white-space: nowrap;

        @include media-breakpoint-down(sm) {
          span {
            display: none;
          }
        }
      }

      + li {
        margin-left: 25px;
      }

      @include media-breakpoint-down(md) {
        + li {
          margin-left: 15px;
        }

        > a {
          font-size: rem(12px);
        }
      }
    }

    .icon {
      width: 100%;
      max-width: 20px;
      margin-right: 5px;

      @include media-breakpoint-down(sm) {
        max-width: 24px;
      }
    }
  }
}