.header {
  position: fixed;
  top: 0;
  left:0;
  right: 0;
  z-index: 999;
  flex-shrink: 0;

  .navbar {
    box-shadow: inset 0 -5px 0 rgba(#FFF, .32);

    @include media-breakpoint-down(sm){
      padding-left: rem(20px);
      padding-right:rem(20px);

      &-brand{
        margin-right: $spacer;

        img{
          max-width: 33px;
        }
      }
    }
  }

  @include media-breakpoint-up(lg){
    .nav-item + .nav-item{
        margin-left: 50px;
      }
  } 

  .nav-link{
    text-transform: uppercase;
    position: relative;

    .no-touchevents &:hover,
    &:focus,
    &:active,
    .active &{

      &:after {
        transform: scale3d(1, 1, 1);
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 0.3s;
      }
    }

    &:after {
      content: '';
      position: absolute;
      background: #FFF;
      transform: scale3d(0, 1, 1);
      transition: transform 0.1s;

      @include media-breakpoint-up(lg){
        bottom: 0.6rem;
        left: 0;
        width: 100%;
        height: 2px;
      }

      @include media-breakpoint-down(md){
        left: -0.3rem;
        width: 2px;
        top: ($spacer/2);
        bottom: ($spacer/2);
      }
    }

  }

  .nav-item.active{

    .nav-link:after{
      @extend .nav-link:active:after;
    }

  }

  .navbar-toggler{
    border: none;
    outline: none;
  }
}