doctype
html(lang='en')
    head
        meta(charset="UTF-8")
        meta(name="description" content="")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
        link(href="../css/main.css" rel="stylesheet")

    body
        header.header#header
            nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
                a.navbar-brand(href='/')
                    img.mr-3(src="../img/logo.png")
                    span.font-weight-bold eFarm Pilot
                button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarNavDropdown.collapse.navbar-collapse.justify-content-end
                    ul.navbar-nav
                        li.nav-item.active
                            a.nav-link(href='#') Home 
                                span.sr-only (current)
                        li.nav-item
                            a.nav-link(href='#') Features
                        li.nav-item
                            a.nav-link(href='#') Try
                        li.nav-item
                            a.nav-link(href='#') Buy
                        li.nav-item
                            a.nav-link(href='#') Blog
                        li.nav-item
                            a.nav-link(href='#') Sign in

        main.main
            // Hero section
            section.hero-section
                .container
                    .row
                        .col-md-8.col-lg-5
                            .hero-section__image
                                img.img-fluid(src="../img/hero_tablet.png" srcset="../img/hero_tablet@2x.png 2x, ../img/hero_tablet@3x.png 3x" alt="Tablets")

                        .col-lg-7
                            .hero-section__content.mt-5.mt-lg-0
                                h1.px-4.bg-warning.text-white.rounded.text-center.mb-3 eFarm Pilot
                                p.px-4.py-2.rounded.text-center.text-white.mb-3
                                    | Professional field guidance system on your tablet.
                                    br
                                    | Download the app. Connect  the antenna. Navigate your fields.
                                    br
                                    | Discover the precision farming world. Starting from only EUR 99.00*
                                .hero-section__content__actions
                                    a.btn.btn-secondary.text-uppercase(href="#homeVideo") Watch video
                                    a.btn.btn-primary.text-uppercase.ml-0.ml-sm-4.mt-4.mt-sm-0.d-block.d-sm-inline-block.mx-auto(href="#pricingSection") Get it now
            // End Hero ection

            // Video block
            .video-section.embed-responsive.embed-responsive-21by9
                <iframe class="embed-responsive-item" id="homeVideo" src="https://www.youtube.com/embed/B-zbylzQm1s?modestbranding=1&autohide=1&showinfo=0&controls=1&autoplay=0" frameborder="0" allowfullscreen></iframe>
            // End video block   

            // Ups slider
            section#uspSlider.carousel.slide.usp-slider(data-ride="carousel")
                ol.carousel-indicators
                    -for (var n=0;n<3;n++)
                        li(data-target="#uspSlider" data-slide-to=n class=(n == 0) ? 'active' : '')

                .carousel-inner
                    - for (var n=0;n<3;n++)
                        div(class=n < 1 ? 'active carousel-item' : 'carousel-item')
                            .carousel-inner__container
                                .row
                                    .col-md.d-flex.align-items-center.justify-content-center
                                        .carousel-item__image
                                            img.img-fluid(src="../img/usp_device.png")
                                    .col-md.d-flex.align-items-center
                                        .carousel-item__content.mt-4.mt-md-0.text-center.text-md-left
                                            h2.text-primary.font-weight-sembold.mb-3 Field Guidance on your tablet.
                                            p.text-white.font-weight-light.
                                                Traditional display - is like a tablet with one app. Yes, we also think it’s not practical, unlike eFarm Pilot on your Android tablet. Size matters! Watch your progress on a big and bright 8-inch screen of your tablet.

            // End Ups slider


            // Testimonials
            section.testimonials-section
                .container
                    .row
                        .col-lg-4
                            header.testimonials-section__header.text-center
                                h2.text-primary.text-uppercase here is what your customers say
                                <svg class="icon text-primary d-none d-lg-inline-block" viewBox="0 0 525.153 525.153" style="enable-background:new 0 0 525.153 525.153;" xml:space="preserve">
                                <path d="M472.637,0H52.515C23.632,0,0.263,23.632,0.263,52.471L0,525.153L105.052,420.1h367.585c28.883,0,52.515-23.632,52.515-52.471V52.471C525.153,23.632,501.521,0,472.637,0z M183.803,236.341h-52.515V183.76h52.515V236.341z M288.812,236.341h-52.471V183.76h52.471V236.341z M393.864,236.341h-52.515V183.76h52.515V236.341z"/></svg>
                        .col-lg-8
                            .home-testimonials.carousel.slide#homeTestimonialsSlider(data-ride="carousel")
                                ol.carousel-indicators
                                    -for (var n=0;n<3;n++)
                                        li(data-target="#homeTestimonialsSlider" data-slide-to=n class=(n == 0) ? 'active' : '')

                                .carousel-inner
                                    - for (var n=0;n<3;n++)
                                        div(class=(n == 0) ? 'active carousel-item' : 'carousel-item')
                                           .home-testimonials__item.media
                                                img.mr-0.mr-sm-4.rounded-circle.home-testimonials__item__avatar(src="../img/avatar.jpg")
                                                .media-body
                                                    .home-testimonials__item__text.
                                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make.
                                                    .home-testimonials__item__author Alex Gusto (35 years), hu

            // End Testimonials


            // Fetures section
            section.features-section
                .container
                    .row
                        each feature in $locales.features
                            .col-md-6.col-lg-3.mt-4
                                .feature
                                    img.feature__icon(src=feature.icon.src alt=feature.icon.alt)
                                    h3.feature__title=feature.title
                                    p.feature__text=feature.text
                    footer.features-section__footer.row
                        .col-sm
                            a.btn-link.text-primary(href="#") Download Datasheet in PDF
                        .col-sm.mt-3.mt-sm-0
                            a.btn-link.text-primary(href="#") Download Quick Setup Guide
            // End Features section


            // Pricing section
            section.pricing-section#pricingSection
                .container
                    header.text-center.mb-4
                        h2.text-primary.font-weight-sembold.text-uppercase Get it now
                        p.h4 eFarm Pilot field guidance system is a product for every wallet. Choose yours:
                    .row
                        each item, index in $locales.pricing
                            .col-lg-3.col-sm-6.mt-4
                                form(action="/" class=(item.price == 'free') ? 'pricing-item bg-warning':'pricing-item bg-primary')
                                    input(type="hidden" value=item.price)
                                    .pricing-item__type=item.type
                                    .pricing-item__inner
                                        .pricing-item__price(class=item.currency)=item.price
                                        .pricing-item__description=item.description
                                    ul.pricing-item__features.list-unstyled
                                        each feature in item.features
                                            li=feature
                                    .pricing-item__actions
                                        button.btn(type='submit')=item.action

            // End Pricing section

        // Footer
        footer.footer.bg-primary.text-white
            .container
                .row.justify-content-between
                    .col-sm-7
                        p.h4 eFarm Pilot
                        p eFarmer B.V, a registered company in the Netherlands with registered address at ESA BIC, Kapteynstraat 1, 2201 BB Noordwijk, the Netherlands, kvK registration number 6112090. VAT Number NL854216169B01
                        a.btn-link.mb-3.d-block(href="efarmer.mobi" target="_blank") www.efarmer.mobi
                        .footer__copyrights 2015 eFarmer B.V. All rights reserved.
                    .col-md-3.col-sm-5.text-sm-right.text-left
                        p.h4.mt-4.mt-sm-0 Get in touch
                        ul.footer__contacts.mb-sm-5.mb-3
                            li Tel: 
                                a.btn-link(href="tel:+31713020355") +31 713 020355
                            li Email: 
                                a.btn-link(href="mailto:info@efarmer.mobi") info@efarmer.mobi
                        ul.footer__social
                            li
                                a(href="#")
                                    <svg viewBox="0 0 90 90" style="enable-background:new 0 0 90 90;">
                                    <path d="M90,15.001C90,7.119,82.884,0,75,0H15C7.116,0,0,7.119,0,15.001v59.998C0,82.881,7.116,90,15.001,90H45V56H34V41h11v-5.844C45,25.077,52.568,16,61.875,16H74v15H61.875C60.548,31,59,32.611,59,35.024V41h15v15H59v34h16c7.884,0,15-7.119,15-15.001V15.001z"/>
                                    </svg>
                            li
                                a(href="#")
                                    <svg viewBox="0 0 486.392 486.392" style="enable-background:new 0 0 486.392 486.392;">
                                    <path d="M395.193,0H91.198C40.826,0,0,40.826,0,91.198v303.995c0,50.372,40.826,91.198,91.198,91.198h303.995c50.372,0,91.198-40.827,91.198-91.198V91.198C486.392,40.826,445.565,0,395.193,0z M175.344,406.836c-53.837,0-99.254-21.918-99.254-56.938c0-35.537,41.434-69.858,95.272-69.828l16.811-0.152c-7.357-7.144-13.193-15.929-13.193-26.782c0-6.445,2.067-12.616,4.925-18.118l-8.968,0.304c-44.231,0-73.84-31.463-73.84-70.466c0-38.151,40.887-71.074,84.359-71.074h96.974l-21.766,15.686h-30.734c20.398,7.843,31.251,31.615,31.251,55.996c0,20.459-11.339,38.091-27.36,50.615c-15.656,12.251-18.604,17.358-18.604,27.755c0,8.877,16.781,23.955,25.536,30.187c25.627,18.118,33.865,34.929,33.865,62.988C270.616,372.029,236.721,406.836,175.344,406.836z M425.593,213.374h-60.799v60.708h-30.369v-60.708h-60.829v-30.977h60.829v-60.799h30.369v60.799h60.799V213.374z"/>
                                    <path d="M222.342,167.349c-4.317-32.771-28.059-59.097-53.017-59.857c-24.958-0.73-41.708,24.35-37.391,57.181c4.317,32.801,28.059,60.009,53.047,60.738C209.908,226.172,226.689,200.181,222.342,167.349z"/>
                                    <path d="M205.774,293.021c-7.357-2.371-15.473-3.8-24.137-3.891c-37.209-0.395-70.527,22.678-70.527,50.433c0,28.332,26.873,51.861,64.082,51.861c52.317,0,70.527-22.131,70.527-50.402c0-3.405-0.456-6.749-1.186-10.001C240.46,314.969,225.959,307.035,205.774,293.021z"/>
                                    </svg>
                            li
                                a(href="#")
                                    <svg viewBox="0 0 486.392 486.392" style="enable-background:new 0 0 486.392 486.392;" xml:space="preserve">
                                    <path  d="M395.193,0H91.198C40.826,0,0,40.826,0,91.198v303.995c0,50.372,40.826,91.198,91.198,91.198h303.995c50.372,0,91.198-40.827,91.198-91.198V91.198C486.392,40.826,445.565,0,395.193,0z M364.186,188.598l0.182,7.752c0,79.16-60.221,170.359-170.359,170.359c-33.804,0-65.268-9.91-91.776-26.904c4.682,0.547,9.454,0.851,14.288,0.851c28.059,0,53.868-9.576,74.357-25.627c-26.204-0.486-48.305-17.814-55.935-41.586c3.678,0.669,7.387,1.034,11.278,1.034c5.472,0,10.761-0.699,15.777-2.067c-27.39-5.533-48.031-29.7-48.031-58.701v-0.76c8.086,4.499,17.297,7.174,27.116,7.509c-16.051-10.731-26.63-29.062-26.63-49.825c0-10.974,2.949-21.249,8.086-30.095c29.518,36.236,73.658,60.069,123.422,62.562c-1.034-4.378-1.55-8.968-1.55-13.649c0-33.044,26.812-59.857,59.887-59.857c17.206,0,32.771,7.265,43.714,18.908c13.619-2.706,26.448-7.691,38.03-14.531c-4.469,13.984-13.953,25.718-26.326,33.135c12.069-1.429,23.651-4.682,34.382-9.424C386.073,169.659,375.889,180.208,364.186,188.598z"/>
                                    </svg>
                .row
                    .col
                        ul.footer__languages.mb-0
                            each lang in $locales.footer.languages
                                li 
                                    a.btn-link(href="/"+lang.alias)
                                        img.icon(src="../img/icon-"+lang.alias+".svg", alt=lang.alias)
                                        span=lang.name
                                                                                
        // Scripts
        script(src="../js/main.js" defer)
