.btn {
  font-size: rem(20px);
}

.btn-primary {
  background: #419f46;
  box-shadow: 0 4px 0 var(--primary);
  max-width: 240px;
  width: 100%;

  &:hover {
    box-shadow: 0 4px 0 darken($primary, 10%);
  }
}

.btn-secondary {
  background: #c2c2c2;
  box-shadow: 0 4px 0 var(--secondary);
  max-width: 240px;
  color: #777;
  width: 100%;


  &:hover {
    box-shadow: 0 4px 0 darken($secondary, 10%);
  }
}