@function rem($font-size){
  $base-font-size:16px;

  @if($font-size){
    @return $font-size/$base-font-size * 1rem;
  }

  @return $font-size;
}

@function em($font-size, $base-font-size:16px){

  @if($font-size){
    @return $font-size/$base-font-size * 1em;
  }

  @return $font-size;
}