:root{

  // Typografy
  --font-family-base: 'Open Sans', sans-serif;
  --h2-font-size: rem(40px);
  --h3-font-size: rem(30px);
  --h4-font-size: rem(18px);
  --h5-font-size: rem(16px);
}


@media (max-width: 767px) {

  :root{

    // Typografy
    --h2-font-size: rem(35px);
  }
}

@media (max-width: 574px) {

  :root{

    // Typografy
    --h2-font-size: rem(30px);
    --h4-font-size: rem(16px);
    --h5-font-size: rem(14px);
  }
}
